parameters:
	ignoreErrors:
		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: tests/src/Controller/MemcacheMonitorTest.php
